body {
  margin: 0;
  background-color: red;
  font-family: 'Roboto', sans-serif;
}

.main-container {
  width: 480px;
  height: 320px;
  background-color: white;
  padding: 17px;
  box-sizing: border-box;
}
